<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijia.enterprise.dao.BkUserMapper">
  <resultMap id="BaseResultMap" type="com.yijia.enterprise.domain.entity.BkUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bk_user_id" jdbcType="VARCHAR" property="bkUserId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>