<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijia.enterprise.dao.BkUserandbookMapper">
  <resultMap id="BaseResultMap" type="com.yijia.enterprise.domain.entity.BkUserandbook">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="bk_user_id" jdbcType="VARCHAR" property="bkUserId" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_state" jdbcType="CHAR" property="bookState" />
    <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>